<% if current_user %>
  Logged in as <span style="color:blue;"><%= current_user.email %>.</span>
 
  <%= link_to 'Log Out', logout_path, class: "btn btn-danger btn-sm text-white" %>
  <br>
  <br>
  <%= link_to 'New Post', new_post_path, class: "btn btn-primary btn-sm text-white" %>
    <%= link_to 'List of Posts', posts_path, class: "btn btn-warning btn-sm text-white" %>
<% else %>
<h1 class="mb-4">Register Here</h1>

  <%= link_to 'Sign Up', signup_path, class: "btn btn-primary text-white" %> or
  <%= link_to 'Log In', login_path, class: "btn btn-success text-white" %>
<br>
<br>
<br>
  <%= link_to 'List of Users', users_path, class: "btn btn-warning text-white ms-4" %>

<% end %>

